
.clockkk{font-size: 130px;
   color:rgba(33, 158, 188, 1);
   margin-left: 40%;
   margin-top: 15px;
   margin-bottom: 15px;

}
.toutc{
    width:42%;
    height:450px ;
    border:2px solid rgba(33, 158, 188, 1);
margin-left: 29%;
margin-top: 180px;
margin-bottom: 180px;
}
.cp{width:66.5%;
    margin-left: 100px;


}
.cpp{width:30%;
    margin-left: 250px;


}
.ptc{
    font-size: 40px;
    font-weight: bolder;
    margin-left: 100px;
    margin-bottom: 25px;
}
