* {
    
  margin: 0;
  padding: 0;
  font-family:'Roboto', Arial, sans-serif;
  color: rgba(2, 48, 71, 1);
}
.emailsent{
  width:50%;
  border-radius: 5px;
  background-color:white;
  position: absolute;
  top:1px;
  left:25%;
  border-radius: 15px;
border: 1px solid rgba(33, 158, 188, 1) ;
margin-top: 200px ;
margin-bottom: 200px;
padding: 20px;
height:400px;
}
.t1{
  font-size: 50px;
  font-weight: bold;
  margin-left: 70px;
 
padding-bottom: 60px;
position: relative;
padding-top:40px;
  
}
.pr1{
  font-size:25px;
  margin-left: 70px;
}
.ok{background-color: rgba(33, 158, 188, 1);
  color:white;
  font-weight: bolder;
  font-size:25px;
  height: 40px;
  width: 85px;
  border-radius: 5px;
  margin-left: 470px;
  border-color: rgba(33, 158, 188, 1);
  margin-bottom: 50px;

}
