.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.photo {
  display: flex;
  justify-content: right;
  background-color: rgba(33, 158, 188, 1);
  height:20vh;
padding-left:25px;
}

.photosi {
  height: 22vh;
  width:22vh;
 
}

input {
  margin: 7px 7px;
  height: 20px;
  width: 90%;
  padding: 10px;
  border: 1px solid rgba(2, 48, 71, 1);
  border-radius: 2px;
  color: rgba(2, 48, 71, 1);
}

input:hover {
  background-color: rgb(197, 223, 231);
  border-color: rgba(33, 158, 188, 1);
}

.input {
  position: relative;
}

.input label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  color: rgba(2, 48, 71, 1);
}

.input input {
  padding-left: 30px; 
}

.input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  color: rgba(2, 48, 71, 1);
  
}

.signform {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(2, 48, 71, 1);
  margin: 5% 5%;
  padding: 5% 5% 5% 5%;
  width: 60%;
}

.ppp {
  font-size: 0.9rem;

  color: rgba(2, 48, 71, 1);
  margin: 10px;
}
.li9bal{margin-bottom: 20px;}
.confirmi {
  text-align: right;
  margin-left: 40px;
}

input[type="submit"] {
  background-color: rgba(33, 158, 188, 1);
  color: white;
  font-size: large;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  height: 38px;
  text-align: center;
}

input[type="submit"]:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

input[type="file"] {
  display: none;
}

.file-upload label {
  cursor: pointer;
}

.file-upload input {
  display: none;
}

.file-upload-icon {
  color: rgba(2, 48, 71, 1);
  cursor: pointer;
  font-size: 1.8rem;
  margin-left:220px;

  

}

.file-upload-icon:hover {
  color: rgba(33, 158, 188, 1);
  font-size: 2.3rem;

}

.error {
  color: red;
  font-size: small;
  margin-top: 4px;
  width: 90%;
  margin-left: 7px;
}
.bottom{ margin-top: 30px;}
.clockkk{}
@media screen and (min-width: 920px) {
  .container {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 10%;
  }

  .signform {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(2, 48, 71, 1);
    margin: 5% 5%;
    padding: 4% 4% 4% 3%;
    width: 40%;
  }

  .photo {
    display: flex;
    justify-content: right;
    background-color: rgba(33, 158, 188, 1);
    height: 1000px;
    width: 45%;
    margin: 0 2%;
  }

  .photo img {
    height: 70%;
    width: auto;
    padding-bottom: 20px;
  }

  input {
    margin: 7px 7px;
    height: 32px;
  }

  input[type="submit"] {
    height: 45px;
  }
}
